.img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 8px;
  transition: background-color 1s;
  margin: auto;
  background-color: #f0f3f3;

  &:hover {
    background-color: #c6caca;
  }
}

.container {
  margin-bottom: 20px;
}

.action {
  width: 400px;
  display: flex;
  margin: auto;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}
